[submodule "frontend"]
	path = frontend
	url = git@github.com:deepgram-starters/live-transcription-html.git
[submodule "contracts"]
	path = contracts
	url = git@github.com:deepgram/starter-contracts.git
