# fly.toml app configuration file generated for deepgram-node-live-transcription on 2026-02-08T23:27:30Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'deepgram-node-live-transcription'
primary_region = 'iad'

[build]
  dockerfile = "deploy/Dockerfile"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
